<header>
  <div class="container">
    <img class="logo" src="../assets/img/web-resolve-logo.png" alt="Logo">
    <div class="logo-text is-size-4">Web Resolve</div>
  </div>
</header>

<div class="hero">
  <div class="container">
    <h1 class="is-size-1 mt-5">Site currently under development</h1>
    <div class="text-container">
      <div class="is-size-2">Looking for a website build?</div>
      <div class="is-size-3">Enter your email below, and we'll be in touch</div>
    </div>
    <form action="contact.php">
      <input type="text" placeholder="Enter your email...">
      <button class="wr-button">Contact Me</button>
    </form>
  </div>
</div>

<section class="why-choose-us">
</section>