@import './src/variables.scss';

header {
    height: 80px; background-color: $wr-grey; display: flex; align-items: center;

    .logo {
        height: 60px;
    }
}

.content {
    .container {
        text-align: center;
        padding: 0 16px;

        input {
            display: block;
            max-width: 500px;
            margin: auto;
            text-align: center;
        }

        button {
            background-color: $wr-dark-blue;
            color: white;
        }
    }
}