<header class="mb-6">
  <div class="container">
    <img class="logo" src="../assets/img/web-resolve-logo.png" alt="Logo">
  </div>
</header>

<section class="content pb-6">
  <div class="container">

    <h1 class="title">Looking for a website or an app?</h1>
    <p class="mb-6">Simply fill in your information below, and we'll be in touch</p>

    <form action="contact.php">
      <label class="label">Name:</label>
      <div class="control">
        <input class="input mb-4" type="text">
      </div>

      <label class="label mb-2">Email</label>
      <div class="control">
        <input class="input mb-4" type="text">
      </div>

      <label class="label mb-2">Contact Number</label>
      <div class="control">
        <input class="input mb-5" type="text">
      </div>

      <button class="button is-large">Contact me</button>
    </form>
  </div>
</section>